body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.quiz-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.quiz-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.question-container {
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.answers label {
  margin-bottom: 5px;
}

button {
  display: block;
  margin: 20px auto 0;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#result {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.axis {
  width: 400px;
  height: 30px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
}

.axis::before {
  content: "Earthism";
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.axis::after {
  content: "Spacism";
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.result-indicator {
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}